.about,
.services,
.work,
.contact {
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company-des {
    padding: 1rem;
    font-size: 6ch;
}

.about-page {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    display: block;


}

.about-text {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    margin: 1rem;
    height: 600px;
    width: 35%;
    border: 1px solid rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
}

/* Applying media querries to the About page */
@media screen and (max-width:900px) {

    .about-photo {
        display: block;
        width: 100%;
        margin: 1rem;

    }

    .about-image {
       display: block;
       width: 100%;
    }
    .about-text {
        display: flex;
        flex-wrap: wrap;
        padding: 5rem;
        height: auto;
       width: 55%;
    }
    .mission {
        padding: 2rem;
        width: 18rem;
        border: 1px solid rgb(27, 27, 27);
        height: auto;
        border-radius: 12px;
        margin: 1rem;
        box-shadow: 1px 1px 8px rgb(80, 80, 80);
    
    }
    
    
    .vision {
        padding: 2rem;
        width: 18rem;
        border: 1px solid rgb(27, 27, 27);
        height: auto;
        border-radius: 12px;
        margin: 1rem;
        box-shadow: 1px 1px 8px rgb(80, 80, 80);
    
    
    }



}

.about-content {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;




}

.about-photo {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 600px;
    overflow: hidden;
}

.about-image {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    width: 700px;
    padding: 1rem;


}

.about-header {
    font-weight: 900;
    font-size: 5ch;
    color: rgb(228, 25, 25);
}

.company-des {
    display: block;
    font-size: 1.9ch;

}

.mv-section {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.mission {
    padding: 2rem;
    width: 25rem;
    border: 1px solid rgb(27, 27, 27);
    height: auto;
    border-radius: 12px;
    margin: 1rem;
    box-shadow: 1px 1px 8px rgb(80, 80, 80);

}


.vision {
    padding: 2rem;
    width: 25rem;
    border: 1px solid rgb(27, 27, 27);
    height: auto;
    border-radius: 12px;
    margin: 1rem;
    box-shadow: 1px 1px 8px rgb(80, 80, 80);


}



.mission-header,
.vision-header {
    font-size: 3ch;
    font-weight: 700;
    text-align: center;
    color: rgb(228, 25, 25);
}

.icon-about {
    font-size: 3ch;
    color: rgb(228, 25, 25);
}

/* Styling the services pages */
.services {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.set-serv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.all-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.description {
    width: 40%;
    padding: 8rem;
}

.title-serv-des {
    font-size: 3ch;
    padding: 1rem;
    font-weight: 600;
}

.request {
    text-align: center;
    padding: 3rem;
    width: auto;
    height: auto;
    background-color: rgb(241, 241, 241);
    color: rgb(78, 78, 78);
    box-shadow: 2px 1px 2px rgb(87, 87, 87);

}

.breadcrumb {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    cursor: pointer;
    font-size: 2ch;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.breadcrumb:hover {
    color: rgb(228, 25, 25);
    border-bottom: 1px solid rgb(228, 25, 25);
}

.form {
    padding: 1rem;

}

.clicked-services {
    font-size: 3ch;
    font-weight: 600;


}

.input {

    padding: 1rem;
    display: block;
    width: 375px;
    margin: 1rem;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 2px solid rgb(39, 39, 39);
}

.input:focus {
    border: none;
    border-bottom: 2px solid rgb(7, 75, 131);
    outline: none;
}




.btn-sbmt {
    display: grid;
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: rgb(202, 15, 15);
    border: 2px solid white;
    color: white;
    font-size: larger;
}

.btn-sbmt:hover {
    background-color: black;
}


.clicked {
    text-align: center;
    font-size: 4ch;
    font-weight: 600;
}

.serv-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.des {

    margin: 1rem;
}

/* Styling the services page's responsivesness*/
/*Applying media query to the services page */
@media screen and (max-width: 1000px) {
    .breadcrumb {
        padding: 1rem 1rem;
        font-size: 1.6ch;
    }

    .description {
        padding: 1rem;
        width: 80%;
        font-size: 1.5ch;
    }

    .request {
        width: 340px;
    }

    .input {
        padding: 0.4rem;
        width: 190px;
    }

    .clicked-services {
        font-size: 2ch;
        font-weight: 900;
    }


}

/*Styling the contact Us page */
.contact {
    position: relative;
    padding: 4rem;


}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 1rem;
}

.contact-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    border: 1px solid rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
    padding: 2rem;

}

.Con {
    display: block;
}

.Contact-header {
    display: block;
    color: rgb(228, 25, 25);
}

.contact-des {
    padding: auto;

}

.contact-details {
    text-align: start;
}

.cont-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
    width: 50%;

}

.contact-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: block;
    width: 245px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(39, 39, 39);
    border: 1px solid white;
    color: white;
    text-align: center;
}

.message-input {
    text-align: center;
    width: 500px;
    height: 4rem;
    margin: 1rem;
    background-color: rgb(39, 39, 39);
    border: 1px solid white;
    color: white;

}

.contact-input:focus {
    outline: none;
}

.message-input:focus {
    outline: none;
}

.contact-btn {
    width: 25rem;
    height: auto;
    padding: 0.7rem;
    background-color: rgb(228, 25, 25);
    margin: auto;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: black;
    border: 1px solid white;
    width: 25rem;
}

/*contact page responsiveness */
@media screen and (max-width: 800px) {
    .contact-text {
        display: block;
        width: 80%;
    }

    .contact-input {

        width: 200px;

    }

    .message-input {
        text-align: center;
        width: 200px;
    }
    .contact-btn {
        width: 10rem;
       
    }

}

/*Styling our work page */
.work-repcards {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rep-card {
    margin: 0.5rem;
    width: 18rem;
    border: 1px solid rgb(68, 68, 68);
    padding: 1rem;
}

.total {
    font-style: italic;
    font-size: 7ch;
    color: red;
    font-weight: 500;
}

